
2 - OWIN and Katana/2.8 - Moving to IIS/KatanaIntro/.vs/KatanaIntro/v15/.suo
2 - OWIN and Katana/2.8 - Moving to IIS/KatanaIntro/.vs/KatanaIntro/v15/Server/sqlite3/db.lock
2 - OWIN and Katana/2.8 - Moving to IIS/KatanaIntro/.vs/KatanaIntro/v15/Server/sqlite3/storage.ide-wal
2 - OWIN and Katana/2.8 - Moving to IIS/KatanaIntro/.vs/KatanaIntro/v15/.suo
2 - OWIN and Katana/2.8 - Moving to IIS/KatanaIntro/.vs/KatanaIntro/v15/Server/sqlite3/db.lock
2 - OWIN and Katana/2.8 - Moving to IIS/KatanaIntro/.vs/KatanaIntro/v15/.suo
2 - OWIN and Katana/2.8 - Moving to IIS/KatanaIntro/.vs/KatanaIntro/v15/Server/sqlite3/db.lock
2 - OWIN and Katana/2.8 - Moving to IIS/KatanaIntro/.vs/KatanaIntro/v15/Server/sqlite3/storage.ide
2 - OWIN and Katana/2.8 - Moving to IIS/KatanaIntro/.vs/KatanaIntro/v15/Server/sqlite3/storage.ide-shm
3 - Identity and Security/3.11 - Third Party Claims/Identity/.vs/config/applicationhost.config
3 - Identity and Security/3.11 - Third Party Claims/Identity/.vs/config/applicationhost.config
